@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

<div class="container">
    <div class="row">
        @{
            foreach (var emp in Model)
            {
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <h5>@emp.Name</h5>
                        </div>
                        <img src="~/Images/1.jpg" class="card-img-bottom" asp-append-version="true" alt="...">
                        <div class="card-footer text-center">
                            <a asp-controller="home" asp-action="details" asp-route-Id="@emp.Id" class="btn btn-primary">View</a>
                            @*<a href="" class="btn btn-primary">View</a>*@
                            <a href="" class="btn btn-primary">Edit</a>
                            <a href="" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


</div>

